!XTerm*renderFont: true
!XTerm*faceName: UbuntuMono
!XTerm*faceSize: 10

!!URxvt
!URxvt.perl-ext-common: tabbed

!! Ubuntu Mono
URxvt*letterSpace: -1
URxvt.font:           xft:Ubuntu Mono derivative Powerline:pixelsize=16:antialias=true:hinting=true
URxvt.boldFont:       xft:Ubuntu Mono derivative Powerline:bold:pixelsize=16:antialias=true:hinting=true
URxvt.italicFont:     xft:Ubuntu Mono derivative Powerline:italic:pixelsize=16:antialias=true:hinting=true
URxvt.boldItalicFont: xft:Ubuntu Mono derivative Powerline:bold:italic:pixelsize=16:antialias=true:hinting=true
!URxvt.font:           xft:Ubuntu Mono:pixelsize=16:antialias=true:hinting=true
!URxvt.boldFont:       xft:Ubuntu Mono:bold:pixelsize=16:antialias=true:hinting=true
!URxvt.italicFont:     xft:Ubuntu Mono:italic:pixelsize=16:antialias=true:hinting=true
!URxvt.boldItalicFont: xft:Ubuntu Mono:bold:italic:pixelsize=16:antialias=true:hinting=true
!URxvt.font:           xft:DejaVu Sans Mono:pixelsize=14:antialias=true:hinting=true
!URxvt.boldFont:       xft:DejaVu Sans Mono:bold:pixelsize=14:antialias=true:hinting=true
!URxvt.italicFont:     xft:DejaVu Sans Mono:italic:pixelsize=14:antialias=true:hinting=true
!URxvt.boldItalicFont: xft:DejaVu Sans Mono:bold:italic:pixelsize=14:antialias=true:hinting=true
URxvt*scrollBar: false
!! URxvt colors
! special
URxvt.foreground:   #AAAAAA
URxvt.background:   #000000
URxvt.cursorColor:  #AAAAAA
! black
URxvt.color0:       #2e3436
URxvt.color8:       #555753
! red
URxvt.color1:       #cc0000
URxvt.color9:       #ef2929
! green
URxvt.color2:       #4e9a06
URxvt.color10:      #8ae234
! yellow
URxvt.color3:       #c4a000
URxvt.color11:      #fce94f
! blue
URxvt.color4:       #3465a4
URxvt.color12:      #729fcf
! magenta
URxvt.color5:       #75507b
URxvt.color13:      #ad7fa8
! cyan
URxvt.color6:       #06989a
URxvt.color14:      #34e2e2
! white
URxvt.color7:       #d3d7cf
URxvt.color15:      #eeeeec
